body {
  color: coral;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: blue;
}

h2 {
  color: aqua;
}
h3 {
  color: blueviolet;
}
h4 {
  color: brown;
}
h5 {
  color: darkgreen;
}
h6 {
  color: chartreuse;
}

#welcome-header {
  color:darkmagenta;
}

.para {
  color: deeppink;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
