@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color:#007af3;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: Poppins;
}

.navbar {
  background-color: white;
  padding: 1em;
}
.navbar .logo {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  font-size: 1.4em;
}
.navbar .logo span {
  color: var(--primary-color);
}
.navbar nav {
  display: none;
}
.navbar .container {
  display: flex;
  place-content: space-between;
}
.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}
.hero .left-col .subhead {
  text-transform: uppercase;
  color: gray;
  letter-spacing: 0.3em;
}
.hero .left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}
.hero .left-col .primary-cta {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  background-color: var(--primary-color);
  color: white;
  padding: 0.6em 1.3em;
  border-radius: 5em;
  display: inline-block;
}
.hero .left-col .watch-video-cta {
  display: block;
  margin-top: 1em;
}
.hero .left-col img {
  margin-right: 0.5em;
}

.hero-image {
  width: 80%;
  margin-top: 1em;
}

section.feature-section {
  background-color: #20272e;
  color: white;
}

ul.features-list {
  margin: 0;
  padding-left: 0.2em;
}
ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}
ul.features-list li::before {
  content: "";
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(/CSS-with-SCSS/images/bullet.svg);
  background-size: contain;
  margin-right: 0.5em;
}

.feature-section img {
  display: none;
}

.testimonials-section {
  background-color: var(--primary-color);
  color: white;
}
.testimonials-section li {
  background-color: #006bd6;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em;
  border-radius: 1em;
}
.testimonials-section li img {
  width: 5em;
  height: 5em;
  border: 5px solid black;
  border-radius: 50%;
  margin-top: -4.5em;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 2px red dashed;
  box-sizing: border-box;
}

.send-message {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 0.5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  cursor: pointer;
  width: unset;
}

iframe {
  width: 90%;
  height: 300px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background-color: #20272e;
  height: 100vh;
  padding: 1em;
}
nav ul.primary-nav {
  margin-top: 5em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}
nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */