body {
  color: coral;
  font-family: "Montserrat", sans-serif;
}
:root{
    --google-color:red;
    --twitter-color:green;
    --wikipedia-color:blue;
    --navigation-color:yellow;

}
hr{
    margin: 3rem 0rem;
}

h1 {
  color: blue;
}

h2 {
  color: aqua;
}
h3 {
  color: blueviolet;
}
h4 {
  color: brown;
}
h5 {
  color: darkgreen;
}
h6 {
  color: chartreuse;
}

#welcome-header {
  color: darkmagenta;
}

.para {
  color: deeppink;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-centre {
  margin: auto;
  max-width: 600px;
}
.link{
    text-decoration: none;
    padding: 0.1rem 3rem;
}
.link-google{
    color: var(--google-color);
    background-color: black;
    border-radius: 0.5rem;
}
.link-twitter{
    color:var(--twitter-color);
    background-color: pink;
    border-color: blue;
    border: 1px dotted;
    border-radius: 0.5rem;
}
.link-wikipedia{
    color: var(--wikipedia-color);
    background-color: wheat;
    border: 1px solid;
    border-radius: 0.5rem;
}
.list-non-bullet{
    list-style: none;
}

.list-inline{
    display: inline;
    padding: 0rem 2rem;
}

.navigation{
    background-color: var(--navigation-color);
    color: black;
    border-bottom-left-radius: 1rem;
}

.navigation .link {
    color: black;
    background-color: antiquewhite;
}
.navigation .nav-brand{
 font-weight: bolder;
 padding: 1rem 0rem;
 text-align: right;
}

.navigation.nav-brand.link{
    text-align: center;
}

.hero{
    padding: 3rem;
}
.hero .hero-image{
    font-size: 350px;
    margin: auto;
    display:block;
}
.hero .special-color{
    color: var(--google-color);
}
.section{
    padding: 2rem;

}
.color-black{
    background-color: black;
}
.color-grey{
    background-color: grey;
}
